* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuchsia: #c363c4;
    --shockingpink: #fb7efd;
    --purplepizzazz: #ff1dce;
    --hotmagenta: #ff1dce;
    --razzledazzlerose: #ff48d0;
    --cerise: #ff43a4;
    --jazzberryjam: #ca3767;
    --razzmatazz: #e3256b;

    --maroon: #c8385a;
    --radicalred: #ff496c;
    --wildwatermelon: #fc6c85;
    --vividtangerine: #ffa089;
    --copper: #dd9475;
    --atomictangerine: #ffa474;
    --outrageousorange: #ff6e4a;
    --mangotango: #ff8243;

    --neoncarrot: #ffa343;
    --sunglow: #ffcf48;
    --laserlemon: #fdfc74;
    --unmellowyellow: #f7f785;
    --inchworm: #b2ec5d;
    --screamingreen: #76ff7a;
    --electriclime: #1df914;
    --shamrock: #45cea2;

    --junglegreen: #3bb08f;
    --tropicalrainforest: #17806d;
    --pinegreen: #158078;
    --navyblue: #1974d2;
    --denim: #2b6cc4;
    --midnightblue: #1a4876;
    --wildbluewonder: #a2add0;
    --royalpurple: #7851a9;

    --vividviolet: #8f509d;
    --eggplant: #6e5160;
    --manatee: #979aaa;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
    min-height: 100vh;
}

.gradient-text {
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to right, red, pink, violet, brown);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px rgba(27, 27, 27, 0.2);
}


.content {
    margin: 0 auto;
    text-align: center;
}

.color-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.color-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.solid-color {
    width: 230px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
}

.line-container {
    display: flex;
    align-items: center;
    margin-right: -21%;
}

.line {
    width: 4px;
    height: 25px;
    background-color: black;
    margin: 2px;
}

/* Transparent section */
.transparent-section {
    width: 120px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.303);
    margin-left: 20%;
}

.label {
    font-weight: bold;
    font-size: 10px;
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    color: black;
}

.color-section>div,
.color-section>.line {
    margin: 0;
    padding: 0;
}

.color1 .solid-color {
    background-color: var(--fuchsia);
    box-shadow: 0 0 15px hsla(300, 48%, 51%, 0.8);
}


/* color 2 */
.color2 .solid-color {
    background-color: var(--shockingpink);
    box-shadow: 0 0 15px hsla(309, 72%, 73%, 0.8);
}

/* color 3 */
.color3 .solid-color {
    background-color: var(--purplepizzazz);
    box-shadow: 0 0 15px hsla(320, 90%, 55%, 0.8);
}

/* color 4 */
.color4 .solid-color {
    background-color: var(--hotmagenta);
    box-shadow: 0 0 15px hsla(322, 95%, 58%, 0.8);
}

/* color 5 */
.color5 .solid-color {
    background-color: var(--razzledazzlerose);
    box-shadow: 0 0 15px hsla(317, 76%, 59%, 0.8);
}

/* color 6 */
.color6 .solid-color {
    background-color: var(--cerise);
    box-shadow: 0 0 15px hsla(319, 79%, 61%, 0.8);
}

/* color 7 */
.color7 .solid-color {
    background-color: var(--jazzberryjam);
    box-shadow: 0 0 15px hsla(330, 83%, 53%, 0.8);
}

/* color 8 */
.color8 .solid-color {
    background-color: var(--razzmatazz);
    box-shadow: 0 0 15px hsla(330, 79%, 37%, 0.8);
}

/* color 9 */
.color9 .solid-color {
    background-color: var(--maroon);
    box-shadow: 0 0 15px hsla(338, 87%, 34%, 0.8);
}

/* color 10 */
.color10 .solid-color {
    background-color: var(--radicalred);
    box-shadow: 0 0 15px hsla(342, 78%, 60%, 0.8);
}

/* color 11 */
.color11 .solid-color {
    background-color: var(--wildwatermelon);
    box-shadow: 0 0 15px hsla(344, 65%, 74%, 0.8);
}

/* color 12 */
.color12 .solid-color {
    background-color: var(--vividtangerine);
    box-shadow: 0 0 15px hsla(15, 75%, 68%, 0.8);
}

/* color 13 */
.color13 .solid-color {
    background-color: var(--copper);
    box-shadow: 0 0 15px hsla(31, 45%, 42%, 0.8);
}

/* color 14 */
.color14 .solid-color {
    background-color: var(--atomictangerine);
    box-shadow: 0 0 15px hsla(23, 66%, 59%, 0.8);
}

/* color 15 */
.color15 .solid-color {
    background-color: var(--outrageousorange);
    box-shadow: 0 0 15px hsla(17, 71%, 54%, 0.8);
}

/* color 16 */
.color16 .solid-color {
    background-color: var(--mangotango);
    box-shadow: 0 0 15px hsla(22, 78%, 59%, 0.8);
}

/* color 17 */
.color17 .solid-color {
    background-color: var(--neoncarrot);
    box-shadow: 0 0 15px hsla(38, 69%, 58%, 0.8);
}

/* color 18 */
.color18 .solid-color {
    background-color: var(--sunglow);
    box-shadow: 0 0 15px hsla(47, 75%, 61%, 0.8);
}

/* color 19 */
.color19 .solid-color {
    background-color: var(--laserlemon);
    box-shadow: 0 0 15px hsla(53, 74%, 65%, 0.8);
}

/* color 20 */
.color20 .solid-color {
    background-color: var(--unmellowyellow);
    box-shadow: 0 0 15px hsla(59, 64%, 60%, 0.8);
}

/* color 21 */
.color21 .solid-color {
    background-color: var(--inchworm);
    box-shadow: 0 0 15px hsla(78, 64%, 70%, 0.8);
}

/* color 22 */
.color22 .solid-color {
    background-color: var(--screamingreen);
    box-shadow: 0 0 15px hsla(93, 93%, 55%, 0.8);
}

/* color 23 */
.color23 .solid-color {
    background-color: var(--electriclime);
    box-shadow: 0 0 15px hsla(101, 85%, 51%, 0.8);
}

/* color 24 */
.color24 .solid-color {
    background-color: var(--shamrock);
    box-shadow: 0 0 15px hsla(166, 68%, 56%, 0.8);
}

/* color 25 */
.color25 .solid-color {
    background-color: var(--junglegreen);
    box-shadow: 0 0 15px hsla(180, 75%, 43%, 0.8);
}

/* color 26 */
.color26 .solid-color {
    background-color: var(--tropicalrainforest);
    box-shadow: 0 0 15px hsla(148, 91%, 21%, 0.8);
}

/* color 27 */
.color27 .solid-color {
    background-color: var(--pinegreen);
    box-shadow: 0 0 15px hsla(184, 90%, 26%, 0.8);
}

/* color 28 */
.color28 .solid-color {
    background-color: var(--navyblue);
    box-shadow: 0 0 15px hsla(201, 82%, 36%, 0.8);
}

/* color 29 */
.color29 .solid-color {
    background-color: var(--denim);
    box-shadow: 0 0 15px hsla(211, 55%, 49%, 0.8);
}

/* color 30 */
.color30 .solid-color {
    background-color: var(--midnightblue);
    box-shadow: 0 0 15px hsla(220, 54%, 34%, 0.8);
}

/* color 31 */
.color31 .solid-color {
    background-color: var(--midnightblue);
    box-shadow: 0 0 15px hsla(229, 80%, 20%, 0.8);
}

/* color 32 */
.color32 .solid-color {
    background-color: var(--royalpurple);
    box-shadow: 0 0 15px hsla(279, 51%, 57%, 0.8);
}

/* color 33 */
.color33 .solid-color {
    background-color: var(--vividviolet);
    box-shadow: 0 0 15px hsla(285, 66%, 66%, 0.8);
}

/* color 34 */
.color34 .solid-color {
    background-color: var(--eggplant);
    box-shadow: 0 0 15px hsla(40, 20%, 46%, 0.8);
}

/* color 35 */
.color35 .solid-color {
    background-color: var(--manatee);
    box-shadow: 0 0 15px hsla(0, 0%, 40%, 0.8);
}

.footer {
    height: 10vh;
    font-size: small;
    margin-top: 4rem;
    text-align: center;
    bottom: 0;
    width: 100%;
}